.Heading {
  font-size: clamp(2rem, 0.875rem + 5vw, 3.5rem);
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.tagline {
  font-size: clamp(1rem, 0.475rem + 2.3333vw, 1.7rem);
  text-align: center;
}
.tagLineBlock {
  display: flex;
  gap: 0.4em;
  align-items: center;
}
.column {
  flex-direction: column;
  text-align: center;
}
.availability {
  color: var(--color-text-footer);
  font-size: clamp(1rem, 0.85rem + 0.6667vw, 1.2rem);
}
.dark {
  color: var(--color-text-secondary);
}
.light {
  color: var(--color-text-primary);
}

.Links {
  display: flex;
  gap: 2em;
}

.Link {
  color: var(--color-highlighted);
  text-decoration: none;
  font-size: clamp(1rem, 0.85rem + 0.6667vw, 1.2rem);
  position: relative;
}
.Link::after {
  content: "";
  position: absolute;
  background-image: url(../../../assets/SVG/Right.svg);
  top: 1px;
  background-size: 23px 19px;
  height: 100%;
  width: 23px;
}
.Link:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .Link::after {
    content: "";
    background-size: 23px 23px;
  }
}
