nav {
  padding: 0em 1em;
  background-color: #313132;
  color: var(--color-text-secondary-dim);
  filter: blur(5%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav:hover {
  color: var(--color-text-secondary);
}
.hamburgerMenu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
.lines {
  width: 17px;
  height: 2px;
  background: var(--color-text-secondary-dim);
}

@keyframes topOpen {
  0% {
    transform: rotate(0deg);
    margin-bottom: 0px;
  }
  50% {
    transform: rotate(0deg);
    margin-bottom: -5px;
  }
  100% {
    transform: rotate(135deg);
  }
}
@keyframes lastOpen {
  0% {
    transform: rotate(0deg);
    margin-top: 0px;
  }
  50% {
    transform: rotate(0deg);
    margin-top: -5px;
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes hamburgerMenuAnimation{
	0%{
	}

	50%{
		gap : 1em;
	}
	100%{
		gap : 0em;
	}
}