nav {
  padding: 0em 1em;
  background-color: #313132;
  color: var(--color-text-secondary-dim);
  filter: blur(5%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav:hover {
  color: var(--color-text-secondary);
}
.hamburgerMenu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
.lines {
  width: 17px;
  height: 2px;
  background: var(--color-text-secondary-dim);
}

.hamburgerMenu.open {
  animation: 400ms ease-in 0s hamburgerMenuOpenAnimation forwards;
}
.hamburgerMenu.open > .top {
  animation: 400ms ease-in 0s topOpen forwards;
}
.hamburgerMenu.open > .last {
  animation: 400ms ease-in 0s lastOpen forwards;
}
.hamburgerMenu.close {
  animation: 400ms ease-in 0s hamburgerMenuCloseAnimation forwards;
}
.hamburgerMenu.close > .top {
  animation: 400ms ease-in 0s topClose forwards;
}
.hamburgerMenu.close > .last {
  animation: 400ms ease-in 0s lastClose forwards;
}
@keyframes topOpen {
  0% {
    transform: rotate(0deg);
    margin-bottom: 0px;
  }
  50% {
    transform: rotate(0deg);
    margin-bottom: -4px;
  }
  100% {
    margin-bottom: -1px;
    transform: rotate(-45deg);
  }
}
@keyframes topClose {
  0% {
    transform: rotate(-45deg);
    margin-bottom: -1px;
  }
  50% {
    transform: rotate(0deg);
    margin-bottom: -4px;
  }
  100% {
    margin-bottom: 0px;
    transform: rotate(0deg);
  }
}

@keyframes lastOpen {
  0% {
    transform: rotate(0deg);
    margin-top: 0px;
  }
  50% {
    transform: rotate(0deg);
    margin-top: -4px;
  }
  100% {
    margin-top: -1px;
    transform: rotate(45deg);
  }
}
@keyframes lastClose {
  0% {
    transform: rotate(45deg);
    margin-top: -1px;
  }
  50% {
    transform: rotate(0deg);
    margin-top: -4px;
  }
  100% {
    margin-top: 0px;
    transform: rotate(0deg);
  }
}

@keyframes hamburgerMenuOpenAnimation {
  0% {
  }

  50% {
    gap: 6px;
  }
  100% {
    gap: 0px;
  }
}
@keyframes hamburgerMenuCloseAnimation {
  0% {
    gap: 0px;
  }

  50% {
    gap: 6px;
  }
  100% {
  }
}
