.FooterWrapper {
  color: var(--color-text-footer);
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  gap: 2.5em;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
.footerDivider {
  width: 100%;
  max-width: 1024px;
  height: 1px;
  background-color: var(--color-background-footer);
}
