* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text-primary: black;
  --color-text-secondary: white;
  --color-text-secondary-dim: rgba(255, 255, 255, 0.92);
  --color-Highlighted: #06c;
}
@font-face {
  font-family: "SF PRO TEXT";
  src: url("./assets/Fonts/FontsFree-Net-SFProText-Regular.ttf");
}

body {
  margin: 0;
  font-family: "SF PRO TEXT", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
}
